* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 20px 20px 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  border-radius: 10px;
}

p {
  margin: 0;
}

a {
  color: black;
  font-size: 1.3em;
  text-decoration: none;
}

h1 {
  background-color: rgba(128, 128, 128);
  color: black;
  padding: 10px 50px;
  font-size: 2em;
}

h2 {
  padding: 5px;
  font-size: 1.5em;
  margin: 5px;
  background-color: rgba(128, 128, 128);
  color: black;
  padding: 10px 10px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 5px 0;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 10px;
}

nav {
  display: flex;
  margin-top: -25px;
  margin-bottom: -15px;
}

header a {
  border-bottom: solid grey 3px;
}

hr {
  border: solid grey 3px;
  min-width: 90vw;
}

figcaption {
  font-size: 15px;
  font-weight: bold;
}

p {
  font-size: 0.8em;
  font-weight: normal;
}

footer div a {
  padding: 5px;
  border-bottom: solid grey 3px;
}

.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  margin: 0 -20px 0 -20px;
  background-image: url(/assets/images/Banner.jpg);
  background-size: cover;
}

.hero-banner h2 {
  background-color: rgba(128, 128, 128, 0.95);
  color: black;
  font-size: 1.5em;
  border-radius: 10px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.about-container div {
  text-align: center;
}

.about-container h2 {
  align-self: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
}

.image-container:hover {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  border: solid grey 5px;
  filter: grayscale(100%);
  border-radius: 10px;
}

img:hover {
  filter: grayscale(0%);
  transition: 1s ease;
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737;
}
.overlay {
  position: absolute;
  bottom: 20px; 
  left: 0%;
  border-left: solid grey 5px;
  background-color: rgba(128, 128, 128, 0.95);
  color: black; 
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
}

@media screen and (min-width: 768px) {

  h1 {
    padding: 10px 10px 10px 50px;
    margin-bottom: 10px;
  }

  h2 {
    padding: 10px 10px 10px 10px;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-radius: 0 10px 10px 0;
  }

  header a:hover, footer div:hover{
    background-color: grey;
    padding: 15px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s ease;
    box-shadow:
    1px 1px #373737,
    2px 2px #373737,
    3px 3px #373737,
    4px 4px #373737;
  }

  hr {
    display: none;
  }

  body {
    padding: 0 20px 20px 0;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header ul {
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50vw;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hero-banner {
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .hero-banner h2 {
    margin: 0 20px 20px 0;
  }

  .about-container {
    flex-direction: row;
    width: 100%;
    margin-bottom: 20px;
  }

  .about-container h2 {
    flex-basis: 20%;
    margin-left: 0px;
    margin-bottom: 39px;
    margin-right: auto;
    align-self: flex-start;
  }

  .about-container div {
    flex-basis: 76%;
    text-align: left;
    margin-right: 3px;
    border: solid grey 5px;
    border-radius: 10px;
    padding: 5px;
  }

  .portfolio-container {
    margin-bottom: 20px;
  }

  .portfolio-row {
    flex-direction: row;
    align-items: flex-start;
  }

  .portfolio-row-1 {
    justify-content: space-between;
  }

  .portfolio-row-1 h2 {
    flex-basis: 20%;
    margin-left: 0px;
    margin-top: -1px;
  }

  .portfolio-row-1 div {
    flex-basis: calc(76% + 5px);
  }

  .portfolio-row-2 {
    gap: 5px;
    justify-content: flex-end;
  }

  .portfolio-row-2 div {
    flex-basis: 38%;
  }

  .contact-container {
    flex-direction: row;
  }

  .contact-container h2 {
    margin-left: 0px;
    flex-basis: 20%;
  }
}