* {
  box-sizing: border-box;
  border: solid 1px red;
}

body {
  margin: 0;
  padding: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 100%;
}

p {
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  padding: 0.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  padding: 5px;
  font-size: 1.5em;
  margin: 5px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

header ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 10px;
}

header li {
  padding: 5px;
}

hr {
  border: solid grey 3px;
  min-width: 90vw;
}

footer div {
  padding: 5px;
}

.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 200px;
  background-image: url(/images/02-hero-bg.jpg);
  background-size: cover;
  color: rgb(255, 51, 0);
  font-size: 1.5em;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {

  hr {
    display: none;
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header ul {
    flex-direction: row;
    justify-content: space-evenly;
    min-width: 50vw;
  }

  .page-wrapper section{
    margin-bottom: 10px;
  }

  .about-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .about-container h2 {
    flex-basis: 20%;
  }

  .about-container div {
    flex-basis: 76%;
  }

  .portfolio-row {
    flex-direction: row;
  }

  .portfolio-row-1 {
    justify-content: space-between;
  }

  .portfolio-row-1 h2 {
    flex-basis: 20%;
  }

  .portfolio-row-1 div {
    flex-basis: 76%;
  }

  .portfolio-row-2 {
    justify-content: flex-end;
  }

  .portfolio-row-2 div {
    flex-basis: 38%;
  }

  .contact-container {
    flex-direction: row;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}